{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}
{% block head_title %}
    {% trans "Xác nhận địa chỉ email" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Xác nhận địa chỉ email" %}
    {% endelement %}
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
            {% element p %}
                {% blocktrans with confirmation.email_address.email as email %}Vui lòng xác nhận rằng <a href="mailto:{{ email }}">{{ email }}</a> là địa chỉ email của người dùng {{ user_display }}.{% endblocktrans %}
            {% endelement %}
            {% url 'account_confirm_email' confirmation.key as action_url %}
            {% element form method="post" action=action_url %}
                {% slot actions %}
                    {% csrf_token %}
                    {{ redirect_field }}
                    {% element button type="submit" %}
                        {% trans 'Xác nhận' %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% else %}
            {% element p %}
                {% blocktrans %}Không thể xác nhận {{ email }} vì email này đã được xác nhận bởi tài khoản khác.{% endblocktrans %}
            {% endelement %}
        {% endif %}
    {% else %}
        {% url 'account_email' as email_url %}
        {% element p %}
            {% blocktrans %}Liên kết xác nhận email này đã hết hạn hoặc không hợp lệ. Vui lòng <a href="{{ email_url }}">yêu cầu xác nhận email mới</a>.{% endblocktrans %}
        {% endelement %}
    {% endif %}
{% endblock content %}
