::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #3B82F6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3B82F6;
}

#header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease;
}

#header.fixed {
    position: fixed;
    z-index: 50;
    top: 0;
}